<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Example</title>
</head>
<body>
<h1>Welcome to Thymeleaf Example</h1>
<p th:text="'Hello,' + ${name}"></p>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Arrival Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="station : ${stationList}">
        <td th:text="${station.id}"></td>
        <td th:text="${station.name}"></td>
        <td th:text="${#temporals.format(station.arriveTime, 'dd-MM-yyyy HH:mm')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>